/* CSS Grid: start */
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
      "grid-header"
      "grid-mail-content"
      "grid-footer";
}

.grid-header {
  grid-area: grid-header;
}

.grid-mail-content {
  grid-area: grid-mail-content;
}

.grid-footer {
  grid-area: grid-footer;
}

/* CSS Grid: stop */

.hide-me {
  border: none;
}

button[type=submit].hide-me:focus {
  background-color: transparent;
}
