<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>

  <servlet>
    <servlet-name>Restlet</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <init-param>
      <param-name>org.restlet.component</param-name>
      <param-value>com.github.rickardoberg.stuff.rest.StuffComponent</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Restlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>