group: edge
dist: trusty

env:
  global:
    TERM=dumb

language: java
jdk:
  - openjdk8
  - oraclejdk8

install: true
before_install:

  # install docker-compose
  - sudo apt update
  - sudo apt install -y python-pip curl jq libxml2-utils
  - sudo pip install docker-compose httpie
  - sudo usermod -aG docker $(whoami)

  # kill whatever punning on postgres / rabbitmq port
  - sudo kill $(sudo lsof -t -i:5432) | true
  - sudo kill $(sudo lsof -t -i:5672) | true
  - sudo kill $(sudo lsof -t -i:27017) | true

script:
  - export ROOT=$PWD
  - >
    for path in \
      spring-shell \
      reactive-websocket-sse \
      spring-boot-under-the-hood \
      reactive-auth \
      reactive-security-client \
      reactive-functional-security \
      reactive-mongo-webflux-functional \
      reactive-mongo-webflux \
      reactive-webflux-spring-data-redis \
      spring-integration-5-example \
      functional-spring;
    do
      export TARGET="$ROOT/$path"
      cd $TARGET
      echo "build $path"
      bash gradlew clean build
    done;

before_cache:
  - bash gradlew --stop
  - rm -rf $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -rf $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.m2/
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
