<script src="/webjars/hammerjs/hammer.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/materializecss/js/materialize.min.js"></script>
<script>
  $(".button-collapse")
      .sideNav();
</script>
</body>
</html>
