<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mailbox Messages</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link rel="stylesheet" href="/webjars/material-design-icons/material-icons.css">
  <link rel="stylesheet" href="/webjars/materializecss/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

