<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="stylesheet" href="/webjars/material-design-icons/3.0.1/material-icons.css"/>
  <link rel="stylesheet" href="/webjars/materializecss/1.0.0/css/materialize.min.css"/>
</head>
<body>
